/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 13px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 *  general setting for links, h2, ul, ol
 */
a {
    text-decoration: none;
    color:#333;
}

h2 {
  font-size: 25px;  
}

ul,ol {
    margin:0;
    padding:0;
}

/* 
 *  header styles, including logo, container class, branding
 */


#main-header {
    overflow:hidden;
    height: 50px;
    background: #333;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow:hidden;
}

#branding {
    float: left;
    width: 50%;
}

#branding h1 {
    padding: 5px 0 0 70px;
    color: #fff;
    margin: 0 !important;   /*Overides the frameworks default style*/
}

#logo {
    width: 60px;
    height: auto;
    position: absolute;
}

/*
 *  main navigation
 */

#main-nav {
    float: right;
    width: 50%;
}

#main-nav ul {
    float: right;
    padding-top: 12px;
}

#main-nav li {      /* how to make the link style to be none */
    color: #fff;
    float:left;
    margin: 0 35px;
    padding:3px 5px 0 5px;
    font-weight:bold;
    list-style: square;
    font-size: 15px;
}

#main-nav a {
    color: #fff;
}



/*
 *  the side bar, and the main content, article
 */ 
#sidebar {
    float: right;
    width: 30%;
}

.main-content {
    width: 63%;
    border: 1px solid #ccc;      /*#ccc is light gray*/
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    float: left;
}

.main-content img {
    width: 100%;
}

article {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 20px 0;
}

article h2 {
    margin: 0;
    padding-top: 10px;
}

.meta {
    margin:10px 0 10px 0;
	padding:5px;
    background: #333;
    color: #fff;
    height:20px;
}

.meta p {
    padding: 0;
    margin: 0;
}

.meta span{
	float:right;
}


.readmore {
    width:97%;
    background: #f4f4f4;
    color:#000;
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:10px;
}

.readmore:hover {
    background: #ccc;
}

.search-form {
    float:left;
}

.search-form input[type="search"] {
    height: 20px;
    border: #ccc 1px solid;
    border-radius: 5px;
    width: 85%;
    padding: 3px;
    float: left;
}

.search-form input[type="image"] {
    width: 10%;
    float:right;
}

#subnav {
    padding: 20px 0 20px 0;
}
#subnav ul {
    list-style: none;
}

#subnav li {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: 1px dotted #333
}

#subnav a {
    color: #333;
}

#subnav a:hover {
    color: #ff0000;
}

#adimg {
    width: 100%;
    height: auto;
}

.article-footer {
    margin-top: 20px;
}


.comment-left {
    float: left;
    width: 8%;
}

.comment-right {
    float: right;
    width: 90%;
}

.comment-form {
    margin-top: 20px;
    padding: 5px 20px 10px 20px;
    background: #333;
    color: #fff;
}

.comment-form input[type="text"], .comment-form input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    width: 97%;
    color: #333;
}

.comment-form textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
    color:#333;
    height: 100px;
}

button {
    color: #333;
}

.add-post-form {
    background: #333;
    color: #fff;
    padding: 5px 20px 10px 20px;
}

.add-post-form input, .add-post-form textarea {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
    color: #333;
    margin-top: 10px;
} 

.add-post-form textarea {
    height: 100px;
}

#upload-button {
    margin-right: 10px;
}
/*
 * footer
 */

#main-footer {
    background: #333;
    color: #ccc;
    min-height: 180px;
    margin-top: 30px;
    overflow: auto;
}

#main-footer p{
    float:left;
    margin-right: 55px;
}

#main-footer ul {
    margin-top: 10px;
    float:left;
    width: 25%;
    list-style: none;
    margin-bottom:15px;
}

#main-footer li {
    font-size: 15px;
    padding: 4px 2px 4px 2px;
    border-bottom: 1px dotted #ccc;
    margin-right: 10px;
}

#main-footer a {
    color:#fff;
}

#main-footer a:hover {
    color: #ff0000;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}